* {
  margin: 0;
}

body {
  background-color: #2e3035;
  font-size: 15px;
  font-family: "Proxima Nova Regular", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  overflow-x: hidden;
}

#data {
  /* border: 1px solid white; */
  margin-top: -80px;
  width: 100%;
}
#container {
  width: 86%;
  /* border: 1px solid yellow; */
  margin: auto;
}
#data_header {
  width: 98%;
  display: flex;
  justify-content: space-between;
  /* border: 1px solid red; */
  height: 3em;
  margin: auto;
}
.data_header_left {
  width: 10%;
  /* border: 3px solid white; */
}
#data_header_left_main {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #babec4;
  font-size: 1.2em;
  /* border: 1px solid blue; */
  margin-top: 10px;
  /* margin: 10px auto; */
  cursor: pointer;
  position: relative;
}
#data_header_left_dropdown,
#data_header_right_dropdown {
  height: 8em;
  position: absolute;
  width: 12em;
  background-color: #53565d;
  box-shadow: 0 9px 25px 0 rgb(0 0 0 / 78%);
  margin-left: -1.5em;
  margin-top: 0.4em;
  z-index: 10;
  border-radius: 5px;
  padding-top: 0.6em;
}
#data_header_left_dropdown .dropdown_title {
  height: 30%;
}
#data_header_right_dropdown {
  margin-left: -1.1em;
  width: 9em;
  margin-top: 2.5em;
  height: 10em;
  padding-top: 0.8em;
}
.dropdown_title {
  width: 100%;
  /* border: 1px solid white; */
  height: 24%;
  text-align: center;
  cursor: pointer;
}
.dropdown_title:hover {
  background-color: hsla(0, 0%, 80%, 0.29);
}
.dropdown_title p {
  padding-top: 0.6em;
  color: #b4b9c2;
}
.data_header_right {
  display: flex;
  width: 18%;
  /* border: 1px solid white; */
  justify-content: space-between;
}
.data_header_right_left {
  display: flex;
  justify-content: space-between;
  width: 42%;
  font-size: 1.2em;
  /* border: 1px solid blue; */
  margin: 10px 0;
  position: relative;
  color: #babec4;
  cursor: pointer;
}
.data_header_right_right {
  display: flex;
  justify-content: space-between;
  width: 40%;
  font-size: 1.2em;
  /* border: 1px solid blue; */
  margin: 10px 0;
  margin-top: 7px;
  color: #babec4;
}
.video_play {
  margin-top: 0.2em;
}
.data_header_right_right img {
  cursor: pointer;
}
#uniform svg,
#water-fall svg {
  margin-top: 0.2em;
  cursor: pointer;
}

/* .normal-line {
  display: none;
} */
.hide {
  display: none;
}
.show {
  display: block;
}

#data_header_left_main svg,
.data_header_right_left svg {
  margin-top: 0.2em;
}
#display_content {
  width: 100%;
  /* border: 1px solid red; */
  /* height: 100px; */
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
#display_content > .content_div {
  width: 18%;
  height: 320px;
  /* border: 1px solid green; */
  border-radius: 5px;
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  background-color: #474a51;
  cursor: pointer;
}

.content_div {
  width: 99%;
  height: 320px;
  /* border: 1px solid green; */
  border-radius: 5px;
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  background-color: #474a51;
  cursor: pointer;
}
.img_div {
  width: 100%;
  height: 70%;
  border-radius: 5px;
  /* border: 1px solid red; */
}
.img_div video {
  width: 100%;
  height: 100%;
  /* border: 1px solid rgb(248, 8, 168); */
}
.img_div img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  /* border: 1px solid rgb(248, 8, 168); */
}
.title {
  white-space: nowrap;
  width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 7%;
  color: white;
  margin: auto;
  font-size: 1em;
  /* border: 1px solid yellow; */
}
#display_content_1,
#display_content_2,
#display_content_3,
#display_content_4,
#display_content_5 {
  display: flex;
  flex-direction: column;
  width: 18%;
  /* border: 1px solid rgb(248, 246, 246); */
  height: auto;
}
#display_content_3 > .content_div {
  height: 280px;
}
#display_content_4 > .content_div {
  height: 200px;
}
#display_content_5 > .content_div {
  height: 250px;
}
#display_content_1 > div:nth-child(even) {
  height: 250px;
}
#display_content_2 > div:nth-child(odd) {
  height: 250px;
}
#display_content_3 > div:nth-child(even) {
  height: 290px;
}
#display_content_4 > div:nth-child(odd) {
  height: 370px;
}
#display_content_5 > div:nth-child(even) {
  height: 320px;
}

.social_div {
  display: flex;
  justify-content: space-around;
  /* border: 1px solid white; */
  height: 10%;
  margin-bottom: 0.7em;
  color: #8e929a;
  font-size: 0.8em;
}
.views_div:hover,
.comment_div:hover {
  color: white;
  transition: opacity 0.25s, transform 0.25s;
  -webkit-transition: opacity 0.25s, transform 0.25s;
}

.up_vote_div svg:hover {
  color: #01b96b;
}

.comment_div,
.up_vote_div {
  display: flex;
  /* border: 1px solid red; */
  align-items: center;
  width: 18%;
  justify-content: space-around;
}
.views_div {
  width: 21%;
  display: flex;
  /* border: 1px solid red; */
  align-items: center;
  justify-content: space-around;
}
.comment_div svg,
.views_div svg {
  margin-top: 0.2em;
}

/* .remo2 {
  color: white;
} */
